<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render "header" %>
    <nav>
      <%= render "nav" %>
    </nav>
  </header>
  <section class="content">
    <%= yield %>
  </section>
  <footer>
    <%= render "footer" %>
  </footer>
</body>
</html>
